
.left {
    max-width: 1680px;
    margin: 20px auto 0 auto;
    /*margin-top: 20px;*/
    padding-bottom: 50PX;
    display: block;
}

.list_title {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.list_title h2 {
    background: #fff url(../img/t1.png) no-repeat center center;
    width: 240px;
    height: 200px;
    text-indent: -9999px;
    margin: 20px auto 10px;
}

.list_title h3 {
    background: #fff url(../img/t2.png) no-repeat center center;
    width: 240px;
    height: 200px;
    text-indent: -9999px;
    margin: 20px auto 10px;
}

.slan22 {
    position: absolute;
    background: url(../img/fengex.png) no-repeat center;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 80px;
    text-align: center;
}

.list-main {
    margin: 0 auto;
    /*width: 100%;*/
    /*width: 1100px;*/
    text-align: center;
}

.list-box {
    display: inline-block;
    width: 1200px;
}

.artist {
    display: block;
    width: 820px;
    position: relative;
    height: 405px;
    margin: 0px auto 0 auto;
    float: left;
    /*list-style: none;*/
    /*text-decoration: none;*/
    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*-webkit-padding-start: 40px;*/
}

.artist ul, a {
    list-style: none;
    text-decoration: none;
    color: #3e3e3e;
}

.artist li {
    left: 275px;
    overflow: hidden;
    width: 128px;
    position: absolute;
    top: 0px;
    height: 128px;
}

.artist .a0 a, .artist .a9 a {
    padding: 50px 20px 10px 20px;
    font-size: 18px;
    overflow: hidden;
    width: 227px;
    height: 68px;
}

.artist .a1 a, .artist .a2 a {
    padding: 115px 20px 0px 30px;
    font-size: 28px;
    overflow: hidden;
    width: 227px;
    height: 150px;
}

.artist .a3 a, .artist .a4 a, .artist .a5 a, .artist .a7 a, .artist .a8 a {
    padding: 40px 10px 10px 10px;
    font-size: 18px;
    overflow: hidden;
    width: 108px;
    height: 78px;
    line-height: 22px;
}

.artist .a6 a {
    padding: 40px 10px 10px 10px;
    font-size: 18px;
    overflow: hidden;
    width: 108px;
    height: 78px;
}

.artist li a {
    background: url(../img/sycpzx.png);
    left: 0px;
    color: #fff;
    font-family: 'microsoft yahei';
    position: absolute;
    top: 0px;
    text-align: center;
}

.artist li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    left: 0px;
    color: #fff;
    font-family: 'microsoft yahei';
    position: absolute;
    top: 0px;
    text-align: center;
}

.artist .a0 {
    left: 0px;
    position: absolute;
    top: 0px;
    width: 265px;
    height: 128px;
}

.artist .a1 {
    left: 0px;
    position: absolute;
    top: 142px;
    width: 265px;
    height: 266px;
}

.artist .a2 {
    width: 267px;
    height: 267px;
}

.artist .a3 {
    left: 275px;
    top: 279px;
}

.artist .a4 {
    left: 415px;
    top: 279px;
}

.artist .a1 {
    left: 0px;
    position: absolute;
    top: 142px;
    width: 265px;
    height: 266px;
}

.artist .a5 {
    left: 552px;
    top: 0px;
    height: 128px;
}

.artist .a6 {
    left: 692px;
    top: 0px;
}

.artist .a7 {
    left: 552px;
    top: 138px;
}

.artist .a8 {
    left: 692px;
    top: 138px;
}

.artist .a9 {
    left: 552px;
    width: 267px;
    top: 279px;
}

.sgunl {
    width: 318px;
    height: 405px;
    overflow: hidden;
    position: relative;
    float: left;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.zhanh_list0 {
    overflow: hidden;
    height: 430px;
}

.zhanh_list_1 {
    border-bottom: 1px dashed #333;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.sfeng_1 {
    text-align: center;
    height: 420px;
    width: 100%;
    background: url(../img/4.jpg) no-repeat center center fixed;
    background-size: cover;
}

.sfeng_1 div, .sfeng_2 div {
    width: 100%;
    height: 280px;
    background: url(../img/pattern.png) repeat left top;
    padding-top: 140px;
}

.sfeng_1 div span {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    line-height: 56px;
    padding: 10px;
    border: 3px solid #fff;
    display: block;
    width: 580px;
    margin: 0 auto;
}

.slan4 {
    padding-top: 20px;
    padding-bottom: 20PX;
}

.sdmenu {
    width: 1000px;
    font-size: 14px;
    margin: 0 auto;
    border: 1px solid #DDD;
    line-height: 28px;
}

.sdmenu a:hover {
    color: #618085;
    cursor: pointer;
}

.slan5 {
    padding-top: 20px;
    padding-bottom: 30PX;
}

.clearfix {
    margin: 50px auto 30px;
    display: block;
    text-align: center;
    width: 1100px;
}

.slan5 .clearfix div {
    width: 353px;
    height: 260px;
}

.syfl_1 {
    float: left;
    background: url(../img/t8.jpg) no-repeat left top;
    margin-right: 20px;
}

.slan5 div a {
    width: 353px;
    height: 170px;
    display: block;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    margin-top: 90px;
}

.syfl_1 a {
    background: url(../img/t6.png) no-repeat center -20px;
}

.syfl_2 {
    float: left;
    background: url(../img/t7.jpg) no-repeat left top;
}

.syfl_2 a {
    background: url(../img/t7.png) no-repeat center -20px;
}

.syfl_3 {
    float: right;
    background: url(../img/t5.jpg) no-repeat left top;
}

.syfl_3 a {
    background: url(../img/t8.png) no-repeat center -20px;
}

.syfl_1 a:hover {
    background: url(../img/t6.png) no-repeat center 20px;
}

.syfl_2 a:hover {
    background: url(../img/t7.png) no-repeat center 20px;
}

.syfl_3 a:hover {
    background: url(../img/t8.png) no-repeat center 20px;
}
